<%= form_for :user, url: '/users', html: { id: "user-form" } do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :email %>
  <%= f.hidden_field :password %>
  <%= f.hidden_field :password_confirmation %>
  <span class="red">"sign_up"</span> : {
  <p><span class="variable">"name"</span> : <span class="quotes">"</span><span class="textInput" id="name-input" contenteditable="true" name="name"></span><span class="quotes">"</span>,<span class="comment"> // ex: john smith</span></p>

  <p><span class="variable">"email"</span> : <span class="quotes">"</span><span class="textInput" id="email-input" contenteditable="true" name="email"></span><span class="quotes">"</span>,<span class="comment"> // ex: john@email.com</span></p>

  <p><span class="variable">"password"</span> : <span class="quotes">"</span><span class="textInput" id="pass-input" contenteditable="true" name="password"></span><span class="quotes">"</span>,<span class="comment"> // 8+ characters</span></p>

  <p><span class="variable">"confirm"</span> : <span class="quotes">"</span><span class="textInput" id="conf-input" contenteditable="true" name="password_confirmation"></span><span class="quotes">"</span><span class="comment"> // password again</span></p>
  <%= f.submit "sign up" %>
  }
<% end %>
