<p>Text Editor Sign Up</p>
<%= form_for :user, url: '/users', html: { id: "user-form" } do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :email %>
  <%= f.hidden_field :password %>
  <%= f.hidden_field :password_confirmation %>
  <span class="red">"sign_up"</span> : {
  <p><span class="variable">"name"</span> : <span class="quotes">"</span><span class="textInput" id="name-input" contenteditable="true" name="name"></span><span class="quotes">"</span>,<span class="comment"> // ex: john smith</span></p>

  <p><span class="variable">"email"</span> : <span class="quotes">"</span><span class="textInput" id="email-input" contenteditable="true" name="email"></span><span class="quotes">"</span>,<span class="comment"> // ex: john@email.com</span></p>

  <p><span class="variable">"password"</span> : <span class="quotes">"</span><span class="textInput" id="pass-input" contenteditable="true" name="password"></span><span class="quotes">"</span>,<span class="comment"> // 8+ characters</span></p>

  <p><span class="variable">"confirm"</span> : <span class="quotes">"</span><span class="textInput" id="conf-input" contenteditable="true" name="password_confirmation"></span><span class="quotes">"</span><span class="comment"> // password again</span></p>

  }
<% end %>

<script type="text/javascript">
  $(function() {
    $('#name-input').focus();
    $('[contenteditable]').on('focus', function() {
      var $this = $(this);
      $this.data('before', $this.html());
      return $this;
    }).on('blur keyup paste', function() {
      var $this = $(this);
      if ($this.data('before') !== $this.html()) {
        $this.data('before', $this.html());
        $this.trigger('change');
      }
      return $this;
    });
    var observer = new MutationSummary({
      rootNode: $("form#user_form")[0],
      queries: [{ characterData: true }],
      callback: function(summaries) {
        var field = summaries[0].target.activeElement.attributes['name'].value;
        var selector = $("#user_" + field);
        selector.val($(summaries[0].target.activeElement).html());
        console.log(selector.val());
      }
    });
    // var nameObserver = new MutationSummary({
    //   rootNode: $("#name-input")[0],
    //   queries: [{ characterData: true }],
    //   callback: function(summaries) {
    //     $('#user_name').val($(summaries[0].target).html());
    //     console.log($('#user_name').val());
    //   }
    // });
    // var emailObserver = new MutationSummary({
    //   rootNode: $("#email-input")[0],
    //   queries: [{ characterData: true }],
    //   callback: function(summaries) {
    //     $('#user_email').val($(summaries[0].target).html());
    //     console.log($('#user_email').val());
    //   }
    // });
    // var passwordObserver = new MutationSummary({
    //   rootNode: $("#pass-input")[0],
    //   queries: [{ characterData: true }],
    //   callback: function(summaries) {
    //     $('#user_password').val($(summaries[0].target).html());
    //     console.log($('#user_password').val());
    //   }
    // });
    // var passwordConfObserver = new MutationSummary({
    //   rootNode: $("#conf-input")[0],
    //   queries: [{ characterData: true }],
    //   callback: function(summaries) {
    //     $('#user_password_confirmation').val($(summaries[0].target).html());
    //     console.log($('#user_password_confirmation').val());
    //   }
    // });

  });
</script>
