<!DOCTYPE html>
<html>
  <head>
    <title>PasswordManager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <div class="container">
      <div class="row">
        <div class="col-2">
          <ul class="nav-tree">
            <% if @current_user %>
              <li><a href="#">Vault</a></li>
              <li><a href="#">Account</a></li>
              <li><a href="#">Etc</a></li>
            <% else %>
              <li><%= link_to "Sign Up", '/signup' %></li>
              <li><%= link_to "Log In", '/login' %></li>
            <% end %>
          </ul>
        </div>
        <div class="col-8 main">
          <%= yield %>
        </div>
      </div>
    </div>
    <!-- <% if @current_user %>
      Signed in as <%= @current_user.name %> | <%= link_to "Logout", '/logout' %>
    <% else %>
      <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
    <% end %> -->
  </body>
</html>
